body {
    background:#ff000080;
    margin: 40px;
    
  }

  h1,
  h2 {
    color: white;
    font-family: Helvetica;
    font-size: 62px;
    text-align: center;
  } 

  text,
li,
ul {
    text-align: center;
}


 .type1 {
   width: 88%;
   display: block;
   margin: 0px auto;
 }

 .type2 {
  width: 68%;
  display: block;
  margin: 0px auto;

 }

 img{
  border: 3px solid grey
 }


