body {
    background:#ff000080;
  }

  h1,
  h2 {
    color: white;
    font-family: Georgia;
    font-size: 62px;
    text-align: center;
  } 

  text,
li {
    text-align: center;
    border: 1.2px solid yellow;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

